html {
  background-color: hsl(0, 0%, 20%);
  background-image: -webkit-linear-gradient(65deg, hsl(182, 80%, 26%) 50%, hsl(0, 0%, 13%) 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: hsl(175, 100%, 54%);
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: hsl(0, 0%, 20%);
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: hsl(0, 0%, 7%);
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(0, 0%, 13%);
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: hsl(182, 80%, 26%);
}

input[type="checkbox"] {
  accent-color: hsl(182, 80%, 26%);
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: hsl(0, 0%, 93%);
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  min-width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: hsl(182, 80%, 26%);
  color: hsl(0, 0%, 93%);
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  margin: auto 15px;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  min-width: 100px;
}

input[type="text"]:focus {
  color: hsl(0, 0%, 93%);
  outline: none;
  box-shadow: inset 0 -3px 0 0 hsl(175, 100%, 54%);
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: hsl(0, 0%, 89%, 0.801);
  text-align: center;
}

@media (max-width: 450px) {
  .box {
    margin: 40px 20px;
  }
}